:global body {
  --primary-color: #ff0064;
  --sun-color: #eec413;
  --link-color: #4299e1;
  --border-radius: 2px;
  --bg: #ffffff;
  --bg-second: #ffffff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #ffffff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: #e5e6eb;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-disable-bg: #f5f5f5;
  --global-bg-opacoty: 0.75;
}
:global body img {
  opacity: 1;
}
:global body.dark {
  --sun-color: #e684af;
  --bg: #282c35;
  --bg-second: #363c48;
  --rgb-bg-second: 54, 60, 72;
  --bg-body: var(--bg);
  --bg-footer: var(--bg);
  --bg-code: rgba(115, 124, 153, 0.2);
  --blockquote-color: #ffffff;
  --main-text-color: rgba(255, 255, 255, 0.85);
  --second-text-color: rgba(255, 255, 255, 0.65);
  --disable-text-color: rgba(255, 255, 255, 0.45);
  --border-color: rgba(255, 255, 255, 0.2);
  --box-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
  --scrollbar-bg: var(--bg-second);
  --comment-editor-border-color: var(--border-color);
  --comment-editor-disable-bg: var(--border-color);
  --global-bg-opacoty: 0.25;
}
:global body.dark img {
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
}
